/* Reset and Base Styles */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Agar halaman dapat digulir secara vertikal */
    font-family: 'Poppins', sans-serif;
    background-image: url('../image/bg-image-2.jpeg'); /* Path relatif menuju folder image */
    background-size: cover; /* Memastikan gambar latar belakang menutupi seluruh layar */
    background-position: top center; /* Posisikan gambar di atas dan di tengah */
    background-repeat: no-repeat; /* Jangan ulangi gambar */
    background-attachment: fixed; /* Gambar tetap di tempat saat menggulir */
}



/* Fullscreen Container */
.container-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Membuat container mengisi tinggi layar */
    text-align: center;
    position: relative;
    padding: 20px; /* Memberikan ruang agar konten tidak terlalu rapat */
}

/* Text Styles */
.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FF76CE;
    margin-top: 5%;
}

.subtitle {
    font-family: 'Dancing Script', cursive;
    font-size: 2.4rem;
    color: #FF76CE;
    margin-top: 10px;
}

/* Card Styles */
.card-custom {
    width: 100%;
    max-width: 500px;
    background: #DC5A81;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 2rem;
}

.card-title {
    font-size: 1rem;
    color: #ddd;
}

.card-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

/* Button Styles */
.btn-primary {
    background: linear-gradient(45deg, #DC5A81, #9608A3);
    border: solid #fff;
    color: #fff;
    font-weight: bold;
    padding: 25px 70px;
    border-radius: 16px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Falling Elements */
@keyframes fall {
    0% {
        transform: translateY(-10%);
        opacity: 1;
    }
    100% {
        transform: translateY(110%);
        opacity: 0;
    }
}

/* Image Container */
.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -60%; 
    padding: 20px;
}

/* Rounded Image Style */
.image-container img{
    width: 200px; /* Menambah ukuran gambar */
    height: 200px; /* Menambah ukuran gambar */
    border-radius: 50%; /* Membuat gambar menjadi bulat */
    object-fit: cover; /* Menjaga gambar tidak terdistorsi */
    border: 5px solid #FF76CE; /* Border berwarna biru */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan */
}

.image-container2 {
    position: relative;
    width: 100%;
    height: 230px;
}

.image-container2 img {
    width: 100%; /* Menambah ukuran gambar */
    height: 100%; /* Menambah ukuran gambar */
    object-fit: cover; /* Menjaga gambar tidak terdistorsi */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan */
}

.image-container2 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55); /* Filter gelap dengan opacity 55% */
    z-index: 1; /* Agar overlay berada di atas gambar */
}

.image-container3 {
    position: relative;
    width: 100%;
    height: 230px;
}

/* Rounded Image Style */
.image-container3 img{
    width: 100%; /* Menambah ukuran gambar */
    height: 100%; /* Menambah ukuran gambar */
    object-fit: cover; /* Menjaga gambar tidak terdistorsi */
    border: 3px solid #FF76CE; /* Border berwarna biru */
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan */
}

.title-home h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #FF76CE;
}

.title-home h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: #FF76CE;
    font-weight: 600;
}

/* Countdown Styles */

.countdown {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.countdown-item {
    background-color: #7C41A9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    color: #fff;
    padding: 15px 10px;
    width: 100px; /* Menentukan lebar item */
    height: 100px;
}




.countdown-item {
    background-color: #DC5A81;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    color: #fff;
    padding: 12px 10px;
    width: 120px;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.number h1 {
    font-size: 35px;
}

.edit-table h1 {
    font-size: 20px;
}

/* Card Styles */
.card-home,
.card-home2,
.card-home3 {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    background-color: #DC5A81;
    color: #000;
    text-align: center;
    border-radius: 26px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.content-card-home h1,
.content-card-home2 h1,
.content-card-home3 h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}

.content-card-home h3{
    color: #fff;
}

.content-card-home2 h1 {
    font-size: 2.5rem;
}

.content-card-home3 h1 {
    font-size: 1.8rem;
}

.content-card-home3 h3 {
    font-size: 1.3rem;
}

.content-card-home3 button {
    width: 250px;
    height: 54px;
    border-radius: 16px;
    border: none;
    font-size: 1.5rem;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

button a {
    display: inline-flex; /* Gunakan flexbox agar ikon dan teks sejajar secara horizontal */
    align-items: center; /* Menyelaraskan ikon dan teks secara vertikal */
    text-decoration: none; /* Menghilangkan garis bawah pada link */
  }
  
  button a span {
    display: flex;
    align-items: center; /* Menyelaraskan ikon dan teks secara vertikal */
    gap: 8px; /* Jarak antara ikon dan teks */
  }
  
  button a i {
    font-size: 20px; /* Ukuran ikon */
  }
  


.content-card-home3 a {
    text-decoration: none;
    color: #000;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
    .image-container h2 {
        font-size: 2,2rem;
    }

    .countdown {
        display: flex;
        gap: 0.5rem;
    }

    .countdown-item {
        width: 100%;
        padding: 15px 10px;
    }

    .card-home, .card-home2, .card-home3 {
        width: 100%;
        margin-top: 20px;
        padding: 20px;
    }

    .content-card-home h1,
    .content-card-home2 h1,
    .content-card-home3 h1
    .content-card-home3 p{
        font-size: 5.5rem;
        color: #fff;
    }
}

.content-card-home3 p{
    color: #fff;
}


@media (max-width: 576px) {
    .rounded-image {
        width: 120px;
        height: 120px;
    }

    .title-home h2 {
        font-size: 2rem;
    }

    .countdown-item {
        width: 100%;
        padding: 15px 10px;
    }

    .content-card-home h1,
    .content-card-home2 h1,
    .content-card-home3 h1 {
        font-size: 2.2rem;
    }

    .content-card-home3 button {
        font-size: 1.2rem;
    }
}

.btn-gift button{
    width: 300px;
    height: 60px;
    border: none;
    background-color: #DC5A81;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 10px 0px;
}

.btn-gift a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.text-gift p{
    color: #FF76CE;
    font-weight: 200;
}


.thank h2{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 30px;
    color: #FF76CE;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bg-text {
    background-color: #DC5A81;
    color: #fff;
    padding: 10px 10px;
    width: 300px;
    height: 60px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Opsional: Tambahkan bayangan */
}

/* Tombol Musik */
.music-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #FF76CE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
}

.music-button i {
    color: white;
    font-size: 24px;
}

.music-button:hover {
    background-color: #FF76CE;
}

.form-container {
    background-color: #DC5A81;
    border-radius: 26px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    width: 100%;
}

.form-container h2 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}


.input-pesan {
    width: 100%;
    height: 150px;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 3px solid #fff;
    font-size: 14px;
}


.input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 3px solid #fff;
    font-size: 14px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #fff;
    color: #DC5A81;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}


#messages-container {
    margin-top: 20px;
}

#messages-list {
    max-height: 200px;
    overflow-y: auto;
}

.message-item {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.form-container h2 {
    font-size: 24px; /* Mengubah ukuran judul form */
}

.message-item strong {
    font-size: 15px; /* Ukuran nama */
}

.message-item p {
    font-size: 16px; /* Ukuran pesan */
}

.message-item {
    font-size: 12px; /* Ukuran keseluruhan item pesan */
}

.message-item hr {
    margin: 5px 0; /* Mengurangi jarak antara pesan dan garis pemisah */
}

.text-center.text-white {
    font-size: 14px; /* Ukuran teks judul di bawah form */
}


hr{
    color: #000;
}

footer p{
    color: #000;
    font-size: 10px;
}

footer a{
    text-decoration: none;
}

